<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Food and Restorent One page Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css' ) }}">
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}">
        <!--        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->


        <!--For Plugins external css-->
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate/animate.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/plugins.css') }}" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/responsive.css') }}" />

        <script src="{{ url_for('static', filename='assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <header id="home" class="navbar-fixed-top">
            <div class="header_top_menu clearfix">	
                <div class="container">
                    <div class="row">	
                        <div class="col-md-5 col-md-offset-3 col-sm-12 text-right">
                            <div class="call_us_text">
							</div>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <div class="head_top_social text-right">
                            
                            </div>	
                        </div>

                    </div>			
                </div>
            </div>

            <!-- End navbar-collapse-->

            <div class="main_menu_bg">
                <div class="container"> 
                    <div class="row">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand our_logo" href="#"><img src="{{ url_for('static', filename='assets/images/log.png') }}" alt="" /></a>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                    <ul class="nav navbar-nav navbar-center">
                                        <li><a href="/" style="font-size:30px;color:#e07110"><b>Back To Home</b></a></li>
                                    
                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div>
            </div>	
        </header> <!-- End Header Section -->

        <section id="features" class="features" >
            <div class="slider_overlay">
                <div class="container">
                    <div class="row">
                        <div class="main_features_content_area  wow fadeIn" data-wow-duration="3s">
                            <div class="col-md-12" style="color:;background-color:white">
                                <div class="main_features_content text-left" style="color:;background-color:white">
                                    <div class="col-md-12" style="color:;background-color:#e36810">
                                        <div class="single_features_text">
                                            <h1 style="color:#e36810"><b>Registation</b></h1>
                                            <form method="post" action="">
                                                <h4 style="color:red;"><b>{{p}}</b></h4>
                                
                                                <div class="form-outline mb-2">
                                                    <label style="color:#e36810">Name</label>
                                                  <input type="text" style="color:;background-color:white;padding:20px;width:500px;border-color:#e36810" id="form3Example1cg" name="username"  class="form-control"  required />
                                                </div><br>
                                            
                                                <div class="form-outline mb-2">
                                                    <label style="color:#e36810" >Email</label>

                                                  <input type="email" id="form3Example3cg" name="email" class="form-control" style="color:;background-color:white;padding:20px;width:500px;border-color:#e36810"  required/> 
                                                </div><br>
                                
                                                <div class="form-outline mb-2">
                                                    <label style="color:#e36810" >Contact Number</label>
                                                  <input type="tel" id="form3Example4cdg" name="cno" class="form-control" style="color:;background-color:white;padding:20px;width:500px;border-color:#e36810"
                                                  pattern="[6-9]{1}[0-9]{9}" title="Enter valid mobile number (must have 10 numbers and starting number should be 6 or 7 or 8 or 9)" required/>
                                                </div><br>
                                 
                                                <div class="form-outline mb-2">
                                                    <label style="color:#e36810" >Password</label>
                                                  <input type="password" id="form3Example4cg" name="password" class="form-control" style="color:;background-color:white;padding:20px;width:500px;border-color:#e36810"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                                                  title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more"  required/>
                                                </div><br>
                                
                                                 <div class="form-outline mb-2">
                                                    <label style="color:#e36810" >Confirm Password</label>
                                                  <input type="password" id="form3Example4cdg" name="pwd" class="form-control" style="color:;background-color:white;padding:20px;width:500px;border-color:#e36810" 
                                                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more" required />  
                                                </div><br>
                                                <center><button class="btn btn-primary" style="width:300px;padding:20px;">Submit</button></center>
                
                                                
                                              </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <footer id="footer" class="footer">
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="copyright wow zoomIn" data-wow-duration="3s">
							<p>Made with <i class="fa fa-heart"></i> by <a href="http://bootstrapthemes.co">Bootstrap Themes</a>2016. All Rights Reserved</p>
						</div>
                    </div>
                </div>
            </div>
        </footer>
		
		<div class="scrollup">
			<a href="#"><i class="fa fa-chevron-up"></i></a>
		</div>		


        <script src="{{ url_for('static', filename='assets/js/vendor/jquery-1.11.2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/vendor/bootstrap.min.js') }}"></script>

        <script src="{{ url_for('static', filename='assets/js/jquery-easing/jquery.easing.1.3.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/wow/wow.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/plugins.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
    </body>
</html>